/*color pallete:
dark grey: 222222
gray (css default)
white(ffffff)
Tufts blue: 3192d7
*/


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */

.wrap {
    display: flex;
}

#one {
    width: 30%;
}

#two {
    width: 30%;
}

#three {
    width: 30%;
}

@media (max-width: 767px) {
    .wrap {
        flex-direction: column;
    }
    #one,
    #two,
    #three {
        width: auto;
    }
}

.flip-card {
    background-color: transparent;
    width: 200px;
    height: 150px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    margin: 10px;
    /* Remove this if you don't want the 3D effect */
}


/* This container is needed to position the front and back side */

.flip-card-inner {
    word-wrap: break-word;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}


/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}


/* Position the front and back side */

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}


/* Style the front side (fallback if image is missing) */

.flip-card-front {
    background-color: #bbb;
    color: black;
}


/* Style the back side */

.flip-card-back {
    background-color: #3192d7;
    color: white;
    transform: rotateY(180deg);
}


/*contact form start */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
form {
    max-width: 420px;
    margin: 50px auto;
}

.feedback-input {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #3192d7;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus {
    border: 2px solid #3192d7;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

[type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background: #3192d7;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
    margin-bottom: 40px;
}

[type="submit"]:hover {
    background: #CC4949;
}


/*contact form end*/

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 15px;
    background-color: gray;
}

#profile {
    overflow: overlay;
    margin: auto;
    width: 75%;
    border: 3px solid gray;
    background-color: gray;
    padding: 15px;
    color: white;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 40px;
}

#profilepic {
    max-width: 100%;
    height: auto;
    float: right;
    border-radius: 50%;
    object-fit: contain;
    padding-left: 15px;
    background-size: contain;
}

#quote {
    overflow: overlay;
    margin: auto;
    width: 75%;
    border: 3px solid gray;
    background-color: gray;
    padding: 15px;
    color: white;
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

#quotepic {
    max-width: 100%;
    height: auto;
    float: left;
    border-radius: 50%;
    object-fit: contain;
    padding-right: 15px;
    background-size: contain;
}


/*Resume portion*/

#xppoints {
    overflow: overlay;
    margin: auto;
    width: 75%;
    border: 3px solid gray;
    background-color: gray;
    padding: 15px;
    color: white;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 25px;
}

#freed {
    overflow: overlay;
    margin: auto;
    width: 75%;
    border: 3px solid gray;
    background-color: gray;
    padding: 15px;
    color: white;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    margin-bottom: 25px;
}

#skillz {
    overflow: overlay;
    margin: auto;
    width: 75%;
    border: 3px solid gray;
    background-color: gray;
    padding: 15px;
    color: white;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 25px;
}

#projektz {
    overflow: overlay;
    margin: auto;
    width: 75%;
    border: 3px solid gray;
    background-color: gray;
    padding: 15px;
    color: white;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 25px;
}


/*Resume portion*/

footer {
    margin-top: 60px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 3px;
    padding-top: 5px;
    background-color: #222222;
    color: white;
}